*{margin: 0; padding: 0;}
html, body{
    height: 100%;
    width: 100%;
}
.game{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: aqua;

}
.game .header{
    height: 20vmin;
    width: 80vmin;
    font-size: 10vmin;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.game .field{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
    background-color: white;
}

    .game .field .cell{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18vmin;
        width: 18vmin;
        margin: 1vmin;
        box-sizing: border-box;
        border: 2px solid green;
        border-radius: 2vmin;
        font-size: 10vmin;
    }

    .game .field .cell[data-back="2"]{
        background-color: wheat;
    }
    .game .field .cell[data-back="4"]{
        background-color: powderblue;
    }
    .game .field .cell[data-back="8"]{
        background-color: palegoldenrod;
    }
    .game .field .cell[data-back="16"]{
        background-color: aquamarine;
    }
    .game .field .cell[data-back="32"]{
        background-color: khaki;
    }
    .game .field .cell[data-back="64"]{
        background-color: lavender;
    }
    .game .field .cell[data-back="128"]{
        background-color:rosybrown;
    }
    .game .field .cell[data-back="256"]{
        background-color: sandybrown;
    }
    .game .field .cell[data-back="512"]{
        background-color: salmon;
    }
    .game .field .cell[data-back="2048"]{
        background-color: tomato;
    }
    